<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container" style="top:60px; position:relative;">
    <div class="card">
        <div class="card-header">
            <h2 style="position:relative;">Article Registration:</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/articles/update">
                <input class="form-control form-control-lg" type="text" name="title" placeholder="Article name:" value="<%= article.title%>"></input>
                <br>
                <textarea class="form-control" name="body" id="body" placeholder="Write your article here!"><%= article.body %></textarea>
                <br>
                <label>Category:</label>
                <br>
                <select class="form-control" name="category">
                    <% category.forEach( (category)=>{%>
                        <% if(category.id == article.categoryId){ %>
                            <option value="<%= category.id %>" selected><%=category.title%></option>
                        <%}else{%>
                            <option value="<%= category.id %>"><%=category.title%></option>
                        <%}%>
                    <% }) %>
                </select>
                <br>
                <input type="hidden" name="id" value="<%= article.id %>">
                <button class="btn btn-success" style="left: 40%; position: relative;" >Register</button>
            </form>
        </div>
    </div>
</div>
<%- include('../../partials/tinymce.ejs') %>
<%- include('../../partials/footer.ejs') %>